/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */


* {
    background:     #0B0F10FF;
    background-alt: #131718FF;
    foreground:     #FFFFFFFF;
    selected:       #FFFFFFFF;
    active:         #FFFFFFFF;
    urgent:         #E06B74FF;
}

element selected {
    text-color: @background;
}
