* {
    background: #1D2021FF;
    background-alt: #282828FF;
    foreground: #EBDBB2FF;
    selected: #98971a;
    active: #EBDBB2FF;
    text: #FFFFFFFF;
}

element selected {
    text-color: @text;
}

