/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0B0F10FF;
    background-alt: #131718FF;
    foreground:     #FFFFFFFF;
    selected:       #FFFFFFFF;
    active:         #FFFFFFFF;
    urgent:         #E06B74FF;
}
