
* {
    background:                  #282828;
    background-alt:              #1d2021;
    foreground:                  #FFFFFF;
    selected:                    #98971a;
    active:                      #909090;
    urgent:                      #707070;
}
