// https://github.com/gh0stzk/dotfiles

configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name}";
}

/*****----- Global Properties -----*****/
@import                          "colors/style-1-colors.rasi"
@import                          "fonts/style-1-font.rasi"

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       1000px;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               6px;
    border-color:                transparent;
    background-color:            transparent;
}

mainbox {
    enabled:                     true;
    children:                    [ "listview" ];
    background-color:            @main-bg;
}

listview {
    enabled:                     true;
    columns:                     3;
    lines:                       1;
    spacing:                     20px;
    padding:                     20px;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @main-fg;
}

element {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     8px;
    padding:                     10px;
    border-radius:               20px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}

element-icon {
    size:                        300px;
    cursor:                      inherit;
    border-radius:               20px;
    background-color:            transparent;
    margin:                      0px;
    padding:                     0px;
    text-color:                  inherit;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     5px 0px 0px 0px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
